<mat-toolbar color="primary" class="header-toolbar">
  <a routerLink="/" class="logo-link">
    <div class="logo" [ngClass]="{ 'desktop-logo': !isMobile, 'mobile-logo': isMobile }">
      <img src="https://res.cloudinary.com/dn5tfo97m/image/upload/v1751032469/TechLogo_jnw0bn.jpg" alt="logo" />

      <div class="logo-text" *ngIf="!isMobile">
        <h1>TechnoWorld Solutions</h1>
        <p>Laser cutting & Engineering Works</p>
      </div>
    </div>
  </a>


  <!-- Desktop Links -->
  <ng-container *ngIf="!isMobile">
    <div class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <button mat-button [matMenuTriggerFor]="servicesMenu" [ngClass]="{ 'active': isServicesActive }">Services</button>
      <mat-menu #servicesMenu="matMenu">
        <button mat-menu-item routerLink="/laser-cutting">Laser Cutting</button>
        <button mat-menu-item routerLink="/fabrication">Fabrication</button>
      </mat-menu>
      <a mat-button routerLink="/gallery" routerLinkActive="active">Gallery</a>
      <a mat-button routerLink="/about-us" routerLinkActive="active">About</a>
      <a mat-button routerLink="/careers" routerLinkActive="active">Careers</a>
      <button mat-raised-button class="custom-contact-btn" routerLink="/contact-us">
        <mat-icon>send</mat-icon>&nbsp;Contact Us
      </button>
      <!-- Stylish Dark Mode Toggle Switch -->
      <label class="theme-toggle-switch">
        <input type="checkbox" (change)="toggleDarkMode($event)" [checked]="isDarkMode" />
        <span class="switch-track">
          <span class="icon sun">☀️</span>
          <span class="icon moon">🌙</span>
          <span class="slider"></span>
        </span>
      </label>


    </div>
  </ng-container>

  <!-- Mobile Hamburger Icon -->
  <ng-container *ngIf="isMobile">
    <!-- Stylish Dark Mode Toggle Switch -->
    <label class="theme-toggle-switch-mobile">
      <input type="checkbox" (change)="toggleDarkMode($event)" [checked]="isDarkMode" />
      <span class="switch-track">
        <span class="icon sun">☀️</span>
        <span class="icon moon">🌙</span>
        <span class="slider"></span>
      </span>
    </label>

    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>

  <!-- WhatsApp-style dropdown menu -->
  <mat-menu #mobileMenu="matMenu" class="whatsapp-style-menu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/laser-cutting">Laser Cutting</button>
    <button mat-menu-item routerLink="/fabrication">Fabrication</button>
    <button mat-menu-item routerLink="/gallery">Gallery</button>
    <button mat-menu-item routerLink="/about-us">About</button>
    <button mat-menu-item routerLink="/careers">Careers</button>
    <button mat-menu-item routerLink="/contact-us">Contact Us</button>
  </mat-menu>
</ng-container>
