<ngb-carousel [interval]="4000" [pauseOnHover]="true" [wrap]="true">
  <ng-template ngbSlide *ngFor="let slide of slides; let i = index">
    <div class="carousel-slide" [style.backgroundImage]="'url(' + slide.image + ')'">
      <div class="overlay"></div>
      <div class="carousel-text">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.caption }}</p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>


<div class="service-cards">
  <mat-card class="service-card" *ngFor="let service of services">
    <img [src]="service.iconUrl" alt="{{service.title}} icon" />
    <h3>{{service.title}}</h3>
    <p>{{service.description}}</p>
  </mat-card>
</div>