html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Light Theme */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: #002686;
}

/* Dark Theme */
body.dark-mode {
  --bg-color: #121212;
  --text-color: #eee;
  --primary-color: #90caf9;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}
